<div class="navbar navbar-static-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="http://yeti-barrage.herokuapp.com"><h1>Yeti-Barrage</h1></a>
        <nav>
          <%= link_to "Map", root_path %>
          <%= link_to "Yetis", yetis_path %>
        </nav>
      </div>
    </div>
  </div>
</div>
